
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@100&display=swap');
* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans',sans-serif;
    font-size: small;
    font-weight: bolder;
}
body {
    background: #E3F2FD;
    font-size: medium;
    font-weight: bold;
}

.header {
    background-color: #007bff;
    color: #fff;
    padding: 10px;
}

.container {
    margin-top: 20px;
}

.weather-input {
    margin-bottom: 20px;
}

.form-input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
}

.search-btn {
    background-color:#007bff;
    color: #fff;
    padding: 8px;
    border: none;
    cursor: pointer;
    width: 100%;
}

.separator {
    height: 1px;
    background-color: #ddd;
    margin: 10px 0;
}

.weather-input .separator{
    height:1px;
    width: 100%;
    margin:25px 0;
    background: #bbbb;
}

#searchHistory button {
    margin-bottom: 10px;
    display: block;
    width: 100%;
    padding: 8px;
    background-color:#6C757D;;
    color: white;
    border: none;
    cursor: pointer;
}
.border {
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 8px;
}

#current-weather {
    margin-bottom: 20px;
}

#fiveDay {
    margin-top: 20px;
   
}

 .forecast-item {
    margin-bottom: 40px;
    padding-left: 15px;

  
}   
.card {
    border: 1px solid #ccc;
    width: 18%;
    border-radius: 8px;
    background-color:#6C757D;
   margin-right:10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
   
}

.card-body {
    padding-right: 5px;
    

}



.card-title {
    margin-bottom: 10px;
    font-size: 1.5rem;
    
}

.card-text {
    margin-bottom: 5px;
    
}
.card img {
    max-width: 100%;
    height: auto;
}